  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .headingDiv
  {
    float: none ; 
    background: white ; 
    padding: 10px; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .headingDiv2
  {
    font-size: 18px ;
  }
  .resultToTag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .resultToTag span
  {
    white-space: pre-line; /*as sequências de espaços em branco serão
    recolhidas em um único espaço em branco. O texto será quebrado quando necessário
    e terá quebras de linha.
    Significa que se o texto for muito grande para caber na tag p, o texto se moverá
    automaticamente para a próxima linha. Estamos fazendo isso porque há chances de
    que o Mobilenet nos dê mais de 5 resultados, o que resultará nos nomes dos objetos
    saindo da tela e não queremos isso.*/
  }
  .copyRightFooter {
    position: fixed;
    color: white;
    bottom: 0; /*Definimos bottom como 0, porque queremos que o div esteja na extremidade inferior da
    página.*/
    width: 100%;
    background-color:grey;
    line-height: 3; /*Definimos a altura da linha, o que significa que aumentará um pouco a altura da div.*/
    text-align: center;
 }
  canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top: 160px; /*para que, quando usarmos este
    site no celular, ele ainda pareça adequado e profissional.*/
  }
 